@model IEnumerable<BuyerSeller.Models.Order>
<table class="table table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
        <tr>
            <th>
                @Html.DisplayName("Brand")
            </th>
            <th>
                @Html.DisplayName("Brand")
            </th>
            <th>
                @Html.DisplayName("Model")
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("PartName")
            </th>
            <th>
                @Html.DisplayName("Qty")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    <a data-toggle="modal" data-target="#basicExample" data-itemid="@item.ID" id="id_@item.ID" class="btn btn-primary addprice">
                        Add Price
                    </a>
                    @*<a href="@Url.Action("Sellers","Home",new { id=item.ID})">Add Price</a>*@
                </td>
            </tr>

        }

    </tbody>

</table>

