@{
    Layout = null;

}
<!DOCTYPE html>
 <html>
<head>
    <meta charset="utf-8" />
    <title>@GetValueByKey("BuyerSellerAppLogin")</title>

    <link href="~/Content/Theme/LoginTheme/style.css" rel="stylesheet" />  
    <script src="~/Content/Theme/LoginTheme/index.js"></script>
</head>
 
<body class="login">  
    
    <div class="container">
        
        <section id="content">
            @using(Html.BeginForm("Index", "Account", FormMethod.Post))
            {
           
                <h1><img src="~/Images/logo.png" /></h1>
                if (TempData["msg"] != null)
                {
                   
                        <p style="color:red">@TempData["msg"] </p>
                  
                }
                <div>
                    <input type="text" placeholder="@GetValueByKey("EnterYourEmailorMobileNumber")" required="" name="email" id="username" />
                </div>
                <div>
                    <input type="password" placeholder="@GetValueByKey("Password")" required="" name="password" id="password" />
                </div>
                <div>
                    <input type="submit" value="Log in" style="background-color:#730000" />
                    <a href="#">@GetValueByKey("Lostyourpassword")</a>

                </div>
            
            }
            <!-- form -->
            <div class="button">
                <a href="@Url.Action("Register","Account")">@GetValueByKey("BuyerRegistration")</a>
            </div><!-- button -->
        </section> 
    </div>
    
</body>


</html>
