
@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Buyer Request</h3>
    </div>
    <div class="box-body">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <form action="@Url.Action("Request","Home")" method="post" class="form-signin">

                        <button type="button" class="btn btn-success" id="btnAdd" onclick="appendRow()">Add Row</button>
                        <br />
                        <br />
                        <div class="form-body">
                            <div id="divRowMain" class="hide">
                                <div class="row divRowCls" id="divRow">
                                    <div class="col-md-2">
                                        <select class="form-control BrandID" name="BrandID{IncrementNumber}" id="BrandID">
                                            <option value="0">Select Brand</option>
                                            @if (ViewBag.Brands != null)
                                        {
                                            foreach (var item in ViewBag.Brands)
                                            {
                                                //string isSelected = string.Empty;
                                                //if (item.ID == Model.BrandId)
                                                //{
                                                //    isSelected = "selected";
                                                //}
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }


                                        </select>
                                        @*@Html.DropDownList("BrandID", ViewBag.Brands as IEnumerable<SelectListItem>, "Select Brand", new { @class = "form-control", @name = "BrandID" })*@
                                        <br />
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control ModelID" name="ModelID{IncrementNumber}" id="ModelID">
                                            <option value="0">Select Model</option>
                                        </select>
                                        <br />
                                    </div>
                                    <div class="col-md-2">
                                        @*@Html.DropDownList("CategoryID", ViewBag.Category as IEnumerable<SelectListItem>, "Select Category", new { @class = "form-control", @name = "CategoryID" })*@
                                        <select class="form-control category" name="CategoryID{IncrementNumber}" id="CategoryID">
                                            <option value="0">Select Category</option>
                                            @if (ViewBag.Category != null)
                                        {
                                            foreach (var item in ViewBag.Category)
                                            {
                                                    <option value="@item.ID">@item.Name</option>
                                            }
                                        }


                                        </select>
                                        <br />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="inputName" name="Name{IncrementNumber}" class="form-control partname" placeholder="Enter Part Name">
                                        <br />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="inputqty" name="Qty{IncrementNumber}" class="form-control partquantity" placeholder="Enter Quantity">
                                        <br />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="removeBtn btn btn-danger" onclick="removeRow(this)" data-id="0">Remove</button>
                                        <br />
                                    </div>

                                </div>
                            </div>
                            <div class="row" id="OptionSession">

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-4">
                                        <button type="submit" class="btn green" onclick="return validate();">Submit</button>
                                        <button type="button" onclick="location.href='@Url.Action("Request","Home")'" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>

</div>
<script src="~/Content/Theme/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    var incrementCount = 1;
    $(document).ready(function () {
        var masterIndex = 1;
        appendRow();

    });
    function appendRow() {
        var htmlDiv = $("#divRowMain").html();
        var htmlWithIncr = htmlDiv.replace(/{IncrementNumber}/g, incrementCount);
        $("#OptionSession").append(htmlWithIncr);
        incrementCount++;
    }
    function removeRow(thisBtnObj) {
        $(thisBtnObj).closest(".divRowCls").remove();
    }

    $(document).ready(function () {

        $(document).on('change', '.BrandID', function (e) {
            e.stopImmediatePropagation();
            var brandDrpDwn = $(this);
            var selectedItem = $(this).val();
            var drpDwnModal = brandDrpDwn.closest('.divRowCls').find(".ModelID");
            drpDwnModal.empty().append($('<option></option>').val(0).html('Select Modal'));
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("ModelByBrandID","Home"))",
                data: { "id": selectedItem },
                success: function (data) {
                    $.each(data, function (id, option) {
                        drpDwnModal.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Model.');
                }
            });
        });
    });
    function validate() {
        var errmsgbrand = "Please select brand ";
        var errmsgmodal = "Please select modal ";
        var errmsgcategory = "Please select category ";
        var errmsgpartname = "Please enter part name ";
        var errmsgquantity = "Please enter quantity ";
        var hasError = true;
        var rowNum = 1;

        $("#OptionSession .divRowCls").each(function () {
            if ($(this).find(".BrandID").val().trim() == "0" || $(this).find(".BrandID").val().trim() == "") {
                alert(errmsgbrand + "at row " + rowNum);
                hasError = true;
                return false;
            } else if ($(this).find(".ModelID").val().trim() == "0" || $(this).find(".ModelID").val().trim() == "") {
                alert(errmsgmodal + "at row " + rowNum);
                hasError = true;
                return false;
            } else if ($(this).find(".category").val().trim() == "0" || $(this).find(".category").val().trim() == "") {
                alert(errmsgcategory + "at row " + rowNum);
                hasError = true;
                return false;
            } else if ($(this).find(".partname").val().trim() == "0" || $(this).find(".partname").val().trim() == "") {
                alert(errmsgpartname + "at row " + rowNum);
                hasError = true;
                return false;
            } else if ($(this).find(".partquantity").val().trim() == "0" || $(this).find(".partquantity").val().trim() == "") {
                alert(errmsgquantity + "at row " + rowNum);
                hasError = true;
                return false;
            } else {
                hasError = false;
            }
            rowNum++;
        });
        if (hasError) {
            return false;
        } else {
            return true;
        }
    }
</script>  