@model sahalBuyerSeller.Model

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<h2>@GetValueByKey("Details")</h2>

<div>
     
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @GetValueByKey("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @GetValueByKey("Brand")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandID)
        </dd>

        <dt>
            @GetValueByKey("CreatedOn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
